.adv {
  position: relative;
  width: 640px;
  height: 360px;
  background-color: #54a6ff;
  padding: 30px;
  border-radius: 10px;
  font-family: "Nunito";
}
.adv2 {
  position: relative;
  width: 640px;
  height: 360px;
  background-color: #3563E9;
  padding: 30px;
  border-radius: 10px;
  font-family: "Nunito";
}

.text {
  color: #fff;
  width: 300px;
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.image {
  position: absolute;
  top: 234px;
  left: 137px;
  width: 406px;
  height: 116px;
}
.image2 {
  position: absolute;
  top: 200px;
  left: 137px;
  width: 406px;
  height: 180px;
  
}

.header {
  font-size: 32px;
}

@media (max-width: 1115px) {
  .adv {
    position: relative;
    width: 450px;
    height: 300px;
  }
  .adv2 {
    position: relative;
    width: 450px;
    height: 300px;
  }
  .image {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 172px;
    left: 190px;
  }
  .image2 {
    position: absolute;
    top: 190px;
    right: 200px;
    width: 250px;
    height: 80px;
    
  }
  .header {
    font-size: 28px;
  }
}

@media (max-width: 670px) {
  .adv {
    position: relative;
    width: 327px;
    height: 232px;
  }
  .adv2 {
    position: relative;
    width: 327px;
    height: 232px;
  }
  .image {
    position: absolute;
    width: 120px;
    height: 57px;
    top: 172px;
    left: 190px;
  }
  .image2 {
    position: absolute;
    top: 168px;
    right: 110px;
    width: 120px;
    height: 65px;
    
  }
  .header {
    font-size: 24px;
  }
}
@media (max-width: 670px) {


}